.sec1{
    background-color: #daac00;
}
.nav-text ul li a{
    font-size: 29px;
color: #ffffff;
font-weight: 500;
font-family: "Poppins";
}
.se{
    color: #ffffff;
    border-radius: 0%;
}
.s{
    color: #ffffff;
    font-size: 20px;
    background-color: #dfc56989;
    border-radius: 0%;
    margin-right: -20px;
    border: none;
    overflow: hidden;
}
.sec1_1{
    background-color: #fcc302;
}
.sec_1_text h1{
    font-size: 65px;
    color: #ffffff;
}
.sec_1_text p{
    font-size: 30px;
    color: #ffffff;
    padding: 30px 0;
}